@font-face {
    font-family: "Reg";
    src: url("../Font/reg.ttf");
}

.reg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.reg-image {
    display: flex;
}

.car-name {
    position: absolute;
    color: black;
    font-size: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Reg;
    letter-spacing: 0.1em;
    margin-left: 25px;
    width: 70%;
    font-size: 4vw;
}
@media only screen and (max-width: 1400px) {
    .car-name {
        position: absolute;
        color: black;
        font-size: 5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Reg;
        letter-spacing: 0.1em;
        margin-left: 25px;
        width: 70%;
        font-size: 8vw;
    }
}

.car-name-button {
    border-radius: 5px;
    font-family: Reg;
    font-weight: bold;
}
